<html>
    <head>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/css.css') }}">
            <link rel="shortcut icon"
                href="{{ url_for('static', filename='images/favicon.ico') }}">
            </head>
            <body>
                <div class="cont">
                    {% block content %}
                        <h1>Remote Kettle 0.2-alpha</h1>
                        <form action="/" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="login">
                                {{ form.name(placeholder="Enter your name!") }}
                            </div>
                            </br>
                            {{ form.submit(class_="button",value="Turn the kettle on!") }}
                        </form>
                    {% endblock%}
                </div>
            </body>
        </html>